<header class="jumbotron typeFont" style="margin-bottom: 0px">
    <h1>Cincinnati DIY Writers</h1>
    <h4>A group for local writers</h4>
</header>

<app-nav></app-nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small bg-dark pt-4 mt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-white">CdiyWriters</h5>
                <p class="text-secondary">Here are some links to our social media and brief contact information.  If you need to get a hold of one of our administrators or wish to report a bug on the site, please navigate to the Contact Us page for more information.<br>
                Thank you for visiting cincinnatidiywriters.com.</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">
              <h5 class="text-uppercase text-white">Links</h5>
              <ul class="list-unstyled">
                    <li>
                        <a href="#" class=" text-secondary"> 
                           <i class="fab fa-facebook-square"></i>
                           <small>Our Facebook Page</small>
                       </a>
                    </li>
                    <li>
                        <a href="#" class=" text-secondary"> 
                            <i class="fab fa-instagram"></i>
                            <small>Our Instagram Page</small>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" text-secondary"> 
                            <i class="fab fa-etsy"></i>
                            <small>Our Etsy Store</small>
                        </a>
                    </li>
                    <h5 class="text-uppercase text-white">Email</h5>
                    <li>
                        <h6 class="text-secondary">
                            <i class="fas fa-at"></i>
                            <small>testing@gmail.com</small>
                        </h6>
                    </li>
            </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-secondary py-3"><small>Cincinnati DIY Writers Page</small>
  </div>
</footer>
