<h1 class="headPad typeFont"> {{ title }}</h1>
<h4 class="regPad"> A list of pieces to be workshopped at our bi-weekly meetings.  Pieces are organized so that the oldest submitted piece is on top.</h4>

<div class="card cardColor mx-5">
    <a *ngIf="loggedIn.Id != 0" routerLink="/create/piece/workshop" class="btn btn-primary">
        <span>
            Add A Piece <i class="fas fa-pen-square"></i>
        </span>
    </a>
</div>


<h4 *ngIf="!pieces">Loading...</h4>


<div class="container-flex" *ngIf="pieces && loggedIn.Id != 0">
    <div *ngFor = 'let piece of pieces | sortdown: sortBy' class="card cardColor m-5">
       <div class= "piece-card">
           <div class="regPad">
               <h2 class="headFont"> {{ piece.Title }}</h2>
               <h5>By:  {{ piece.User.FirstName }} {{ piece.User.LastName }}</h5>
               <h6>Submitted on:  {{ piece.Submitted | date: "medium" }} </h6>
           </div>
           <div class="regPad">
               <p> Genre:  {{ piece.Genre }}</p>
               <p> Description:  {{ piece.Description }}</p>
           </div>
           <div class="regPad">
               <button class="btn btn-small btn-info" (click)="view(piece.FileName)">Click Here To Read <q>{{ piece.Title }}</q></button>
           </div>
           <!-- Admin tools-- once piece service is in place this should only be visible to site Admins-->
           <div *ngIf="loggedIn.Admin == true" class="bg-dark text-white">
               <h3>Admin Tools</h3>
               <button (click)='remove(piece.Id)' class='btn btn-danger btn-sm' title='Remove this piece from the site database!  This action cannot be undone!'><i class="far fa-minus-square"></i>Remove</button>
           </div>
           <!-- My Information-- allow signed in user to work with their own pieces -->
           <div *ngIf="loggedIn.Id == piece.User.Id" class="bg-dark text-white">
               <h3>My Information</h3>
               <button routerLink='/edit/piece/{{ piece.Id }}' class="btn btn-info btn-sm" title="Edit this piece"><i class="far fa-edit"></i>Edit</button>
               <button (click)='remove(piece.Id)' class='btn btn-danger btn-sm' title='Remove this piece from the site database.  This action cannot be undone!'><i class="far fa-minus-square"></i>Remove</button>
           </div>
       </div>  
    </div>
</div>
<h5 class="m-5" *ngIf="loggedIn.Id == 0"> <span class="text-danger">***</span> You must be logged in to access the Workshop Page.  Sign In or Create a New Account.</h5>