<h1> {{ title }}</h1>
<h4>Here's what we're up to!</h4>
   

<a *ngIf="loggedIn.Admin == true" routerLink="/create/event" class="btn btn-primary">
    <span>
        Create an Event <i class="far fa-calendar-alt"></i>
    </span>
</a>
 

<h4 *ngIf="!events">Loading...</h4>


<div class="container-flex" *ngIf="events">
    <div *ngFor = 'let event of events |sortdown: sortBy' class="grid-container">
       <div class= "event-card" style = "background: grey; margin: 25px;">
           <div>
               <h2> {{ event.EventName }}</h2>
           </div>
           <div>
               <p>Description: {{event.Description }}</p>
           </div>
           <div>
              <p> Location: {{ event.Location }}</p>
               <p> Starts: {{ event.EventStart | date : "fullDate" }}  At {{ event.EventStart | date : "shortTime" }}</p>
               <p> Ends:  <span *ngIf='event.EventEnd == null'>?</span> <span *ngIf='event.EventEnd != null'>{{ event.EventEnd | date : "fullDate" }} At {{ event.EventEnd | date : "shortTime" }}</span></p>
           </div>
           <div *ngIf="loggedIn.Admin == true">
               <h3>Admin Tools</h3>
               <button routerLink='/edit/event/{{ event.Id }}' class="btn btn-info btn-sm" title="Edit this event"><i class="far fa-edit"></i>Edit</button>
               <button (click)='remove(event.Id)' class='btn btn-danger btn-sm' title='Remove this event'><i class="far fa-minus-square"></i>Remove</button>
           </div>
       </div>  
    </div>
</div>
