<h1 class="typeFont headPad"> {{ title }}</h1>
<h4 class="regPad">Learn Some More About Our Group</h4>


<div>
    <h2 class="headFont headPad">Who We Are and What We Do: Extended</h2>
    <p class="regPad">
        <span class="dropCap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorem neque repellat id, tempore, ad excepturi qui nisi, et quidem provident modi odio quibusdam. Fugiat deleniti deserunt explicabo hic temporibus.  orem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorem neque repellat id, tempore, ad excepturi qui nisi, et quidem provident modi odio quibusdam. Fugiat deleniti deserunt explicabo hic temporibus.
        <!-- Maybe do a list somewhere in here like -Workshops -Self Publishing -etc... ... -->
    </p>
</div>

<div>
    <h2 class="headFont headPad">Self Published, Self Funded, and Why That Matters</h2>
    <p class="regPad">
        <span class="dropCap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorem neque repellat id, tempore, ad excepturi qui nisi, et quidem provident modi odio quibusdam. Fugiat deleniti deserunt explicabo hic temporibus.  orem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolorem neque repellat id, tempore, ad excepturi qui nisi, et quidem provident modi odio quibusdam. Fugiat deleniti deserunt explicabo hic temporibus.
        <!-- Maybe do a list somewhere in here like -Workshops -Self Publishing -etc... ... -->
    </p>
</div>

<div>
    <h2 class="headFont headPad">Want to Join Us?</h2>
    <p class="regPad">
        <span class="dropCap">C</span>incinnati DIY Writers is always accepting new members, and you don't have to join on our site to attend our meetings or events!  If you would like to become a member on our site, click <a routerLink='/create/writer'>here</a>!
    </p>
</div>


