

body {
    background-color: #E0E0E0;
}

.jumbotron { 
    color: black;
    background: radial-gradient(transparent, rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.3)), url("assets/images/paperbg.jpg") no-repeat center; 
    border-radius: 0px;
}

.jumbotron h1 {
    padding-left: 15%;
    text-shadow: 1px 1px 3px whites, -1px -1px  3px white;
}

.jumbotron h4 {
    padding-left: 10%;
}

.typeFont {
    font-family: 'Special Elite', monospace;
}

.headFont{
    font-family: 'Frank Ruhl Libre', serif;
}

.headPad {
    padding-top: 3%;
    padding-left: 3%;
    /* there might be a better way to underline headings */
    text-decoration: underline;
}

.regPad{
    padding-left: 5%; 
}

.dropCap{
    font-size: 150%;
    font-family: 'Frank Ruhl Libre', serif;

}

.cardColor {
    background-color: #ACACAC;
}
